
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

      @await Component.InvokeAsync("_AdvertHeadPartial")

<body>
  
    @await Component.InvokeAsync("_AdvertHeaderPartial")
    <!-- //header -->
    <!-- inner banner -->
    @await Component.InvokeAsync("_AdvertBannerPartial")
    <!-- //inner banner -->
    <!-- courses section -->
    @await Component.InvokeAsync("_AdvertListPartial")

    <!-- //courses section -->
    <!-- content block1 -->
    @await Component.InvokeAsync("_AdvertIntroducePartial")
    <!-- //content block1 -->
    <!-- about 3grids section -->
    <!-- //about 3grids section -->

    <!-- footer -->
    @await Component.InvokeAsync("_AdvertFooterpartial")

    <!-- //footer -->
    <!-- Js scripts -->
    <!-- move top -->
    @await Component.InvokeAsync("_AdvertScriptPartial")

   
</body>

</html>
