@model Comment

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<div class="container" style="border:1px solid #F50537;border-radius:5px; padding:5px">

    <form method="post" asp-action="PartialAddComment" asp-controller="Advert" asp-area="Default">

        <input type="text" asp-for="NameSurname" id="w3lName" placeholder="Adınız Soyadınız*"
               class="form-control" required="" />
        <br />

        <textarea asp-for="Content" id="w3lMessage" placeholder="Buraya yorumunuzu yazabilirsiniz*"
                  required="" class="form-control"></textarea>
        <br />
        <div class="form-buttonhny text-lg-end">
            <button class="btn btn-style btn-primary" id="btn1">Yorumu Gönder</button>
        </div>
    </form>
</div>

<script>
    $("#btn1").click(function () {
        swal("Yorumunuz Alınmıştır!", "Ana Sayfaya Yönlendiriliyorsunuz!", "success");
    });
</script>