
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rapor Sayfası</h1>

<a href="/Report/StaticExcelList/" class="btn btn-primary">Raporları Listele</a>

<a href="/Report/ExcelDynamic/" class="btn btn-primary">Excel Dinamik Raporlar</a>

<a href="/Report/StaticPdfReport/" class="btn btn-primary">PDF Statik Raporlar</a>