@model RealEstate.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRoles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rol Düzenleme Sayfası</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <button class="btn btn-success">Rolü Güncelle</button>
</form>

