
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-5 pb-sm-4 pb-2">
            <h4 class="inner-text-title font-weight-bold pt-5">Uygun Fiyatlı Modern Evler</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="~/Areas/Default/Advert/Index/">Ana Sayfa</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>İlanlar</li>
            </ul>
        </div>
    </div>
</section>
