
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>İlan İşlemleri</h2>
<br />
<button type="button" class="btn btn-outline-primary" id="btngetlist">Listeyi Getir</button>
<button type="button" class="btn btn-outline-warning" id="btnaddproduct">Ürünü Ekle</button>
<button type="button" class="btn btn-outline-info" id="btnproductdelete">Ürünü Sil</button>
<button type="button" class="btn btn-outline-dark" id="btngetproduct">Ürünü Getir</button>
<button type="button" class="btn btn-outline-success" id="btnupdateproduct">Ürünü Güncelle</button>

<br />
<br />

<div id="productlist">
</div>

<br />

<div id="prpductadd">
    <input type="text" id="txtTitle" class="form-control" placeholder="İlan Başlığını Giriniz" />
    <br />
    <input type="text" id="txtPrice" class="form-control" placeholder="İlan Fiyatını Giriniz" />
    <br />
    <input type="text" id="txtDetails" class="form-control" placeholder="İlan Açıklamasını Giriniz" />
    <br />
</div>
<br />

<div class="form-group">
    <input type="text" id="txtid" placeholder="Aranacak ID Değerini Giriniz" class="form-control" />
</div>

<br />

<div id="getlistbyid"> 

</div>
<br />
<div>
    <input class="form-control" type="text" id="txtdeletedid" placeholder="Silinecek ID Değerini Giriniz" />
</div>
<br />
<div>
    <input type="text" id="txtupdatedid" class="form-control" placeholder="Güncellenecek ID Değeri" />
    <br />
    <input type="text" id="txtupdatedprice" class="form-control" placeholder="Güncellenecek Fiyat Değeri" />
    <br />
    <input type="text" id="txtupdatedtitle" class="form-control" placeholder="Güncellenecek Başlık Değeri" />
    <br />
</div>

<script>

    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/ProductAjax/ProductList/",
            success: function (funk1) {
                let p = jQuery.parseJSON(funk1);
                console.log(p);
                let tablehtml = "<table class=table table-bordered><tr><th>İlan ID</th> <th>İlan Başlığı</th> <th> İlan Fiyatı</th></tr>";
                $.each(p, (index, value) => {
                    tablehtml += `<tr><td>${value.ProductID}</td><td>${value.Title}</td><td>${value.Price}</td></tr>`
                });
                tablehtml += "</table>";
                $("#productlist").html(tablehtml);
            }
        });
    });

    $("#btnaddproduct").click(function () {
        let values = {
            Title: $("#txtTitle").val(),
            Price: $("#txtPrice").val(),
            Description: $("#txtDetails").val()
        };

        $.ajax({
            type: "post",
            url: "/ProductAjax/AddProduct/",
            data: values,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                alert("İlan başarılı bir şekilde eklendi");
            }
        });
    });

    $("#btngetproduct").click(x => {
        let id = $("#txtid").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/ProductAjax/GetByID/",
            data: { ProductID: id },
            success: function (funk3) {
                let result = jQuery.parseJSON(funk3);
                console.log(result);

                    let tablehtml2 = `<table class=table table-bordered><tr><th>İlan ID</th><th>Başlık</th><th>Fiyat</th></tr><tr><td>${result.ProductID}</td><td>${result.Title}</td><td>${result.Price}</td></tr></table>`;

                $("#getlistbyid").html(tablehtml2);
            }
        });
    });

    $("#btnproductdelete").click(x => {
        let id = $("#txtdeletedid").val();
        $.ajax({
            url: "/ProductAjax/DeleteProduct/" + id,
            type: "get",
            contentType: "application/json",
            dataType: "json",
            success: function (funk4) {
                alert("İlan başarılı bir şekilde silindi");
            }
        });
    });

    $("#btnupdateproduct").click(function () {
        let values = {
            ProductID: $("#txtupdatedid").val(),
            Title: $("#txtupdatedtitle").val(),
            Price: $("#txtupdatedprice").val()
        };

        $.ajax({
            type: "get",
            url: "/ProductAjax/UpdateProduct/",
            data: values,
            success: function (funk5) {
                alert("Güncelleme başarılı bir şekilde yapıldı");
            }
        });
    });



</script>