<footer class="w3l-footer-16">
    <div class="footer-top-16 py-5">
        <div class="container pt-lg-5 pt-md-4 pt-2 pb-lg-4 pb-2">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <h3>Hakkımızda</h3>
                    <p>
                       1990 yılından beri Türkiye'deki Emlak Sektörünün nabzını tutan, sektörün ileri gelenlerindeniz. Siz değerli müşterilerimizin konforu için elimizden geleni yapıyoruz.
                    </p>
                    <div class="columns-2 mt-4">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#google"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-6 column ps-xl-5 mt-sm-0 mt-4">
                    <h3>Hızlı Bağlantı</h3>
                    <ul class="footer-gd-16">
                        <li><a href="about.html">Hakkımızda</a></li>
                        <li><a href="classes.html">Ana Sayfa</a></li>
                        <li><a href="#support">İlanlar</a></li>
                        <li><a href="#blog">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-6 column ps-xl-5 pe-lg-0 mt-lg-0 mt-4">
                    <h3>Adresimiz</h3>
                    <ul class="footer-contact-list">
                        <li class="">
                            <i class="fas fa-map-marker-alt"></i><span>
                                İstanbul
                            </span>
                        </li>
                        <li class="mt-3">
                            <i class="fas fa-phone-alt"></i><span>
                                <a href="tel:+12 23456790">
                                    0511 111 11 11
                                </a>
                            </span>
                        </li>
                    </ul>
                    <div class="footer-botm mt-3">
                        <h6>Çalışma Saatleri</h6>
                        <p class="mt-2"><span>Pazartesi Cuma </span> : 08.00 – 17.00</p>
                        <p> <span>Cumartesi-Pazar</span> : Kapalıyız</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
