@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Cinsiyet</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.UserName</td>
            @if(item.Gender=="Erkek")
            {
                <td><span style="background-color:aqua">Erkek</span></td>
            }
            else
            {
            <td><span style="background-color:red">Kadın</span></td>

            }
            <td><a href="/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/User/EditUser/@item.Id" class="btn btn-outline-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Register/Index/" class="btn btn-outline-primary">Yeni Kullanıcı Girişi</a>
