<div class="contact-left mt-5 pt-lg-5">
    <div class="w3l-header-sec text-center mb-md-5 mb-4">
        <h5 class="sub-title">Bize Ulaşın</h5>
        <h3 class="title-style">Adres Bilgilerimiz</h3>
    </div>
    <div class="cont-details">
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="cont-right">
                <h6>Şirket</h6>
                <p>Halaskargazi Caddesi No:24, 34100 Şişli/İstanbul</p>
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-phone"></i>
            </div>
            <div class="cont-right">
                <h6>Telefon Numaralarımız</h6>
                <p><a href="tel:+1(21) 343 5677">+1(21) 343 5677</a></p>
                <p><a href="tel:+1(21) 343 5678">+1(21) 343 5678</a></p>
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-mail-bulk"></i>
            </div>
            <div class="cont-right">
                <h6>Mail Adresimiz</h6>
                <p><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                <p><a href="mailto:example@mail2.com" class="mail">example@mail2.com</a></p>
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-headset"></i>
            </div>
            <div class="cont-right">
                <h6>7/24 Müşteri Desteği</h6>
                <p><a href="mailto:info@support.com" class="mail">info@support.com</a></p>
                <p><a href="mailto:info@support2.com" class="mail">info@support2.com</a></p>
            </div>
        </div>
    </div>
</div>